<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>52925359166-tlfbqf1hoi62o07ghu52v3giidgvr2e8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.52925359166-tlfbqf1hoi62o07ghu52v3giidgvr2e8</string>
	<key>API_KEY</key>
	<string>AIzaSyA_m_nF7Xx_VRjGsXD7wbHM9OHl0tLJ5HM</string>
	<key>GCM_SENDER_ID</key>
	<string>52925359166</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rapiteam.app</string>
	<key>PROJECT_ID</key>
	<string>rapi-team</string>
	<key>STORAGE_BUCKET</key>
	<string>rapi-team.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:52925359166:ios:ceb29da064ddd1cc6fdd6f</string>
</dict>
</plist>
